In [1]:
import numpy as np
import pandas as pd
import pickle
import csv
import os
import torch
from torch_geometric.data import Data
import pandas as df

In [2]:
np.random.seed(42)

In [3]:
pwd

'/Users/kunzhao/DA'

In [4]:
buy_df = pd.read_csv('/Users/kunzhao/DA/data/yoochoose-buys.dat', header=None)
buy_df.columns=['session_id','timestamp','item_id','price','quantity']
buy_df.head(20)

    session_id                 timestamp    item_id  price  quantity
0       420374  2014-04-06T18:44:58.314Z  214537888  12462         1
1       420374  2014-04-06T18:44:58.325Z  214537850  10471         1
2       281626  2014-04-06T09:40:13.032Z  214535653   1883         1
3       420368  2014-04-04T06:13:28.848Z  214530572   6073         1
4       420368  2014-04-04T06:13:28.858Z  214835025   2617         1
5       140806  2014-04-07T09:22:28.132Z  214668193    523         1
6       140806  2014-04-07T09:22:28.176Z  214587399   1046         1
7       140806  2014-04-07T09:22:28.219Z  214586690    837         1
8       140806  2014-04-07T09:22:28.268Z  214774667   1151         1
9       140806  2014-04-07T09:22:28.280Z  214578823   1046         1
10          11  2014-04-03T11:04:11.417Z  214821371   1046         1
11          11  2014-04-03T11:04:18.097Z  214821371   1046         1
12          12  2014-04-02T10:42:17.227Z  214717867   1778         4
13      489758  2014-04-06T09:59:52.422Z  214826955   1360         2
14      489758  2014-04-06T09:59:52.476Z  214826715    732         2
15      489758  2014-04-06T09:59:52.578Z  214827026   1046         1
16      140802  2014-04-02T16:52:21.678Z  214716984   1883         1
17      489756  2014-04-05T16:51:59.947Z  214716932   6177         1
18      420378  2014-04-03T07:41:02.566Z  214821017   1046         1
19      420378  2014-04-03T07:41:02.616Z  214821020    732         1

In [5]:
df = pd.read_csv('/Users/kunzhao/DA/data/yoochoose-clicks.dat', header=None)
df.columns=['session_id','timestamp','item_id','category']
df['valid_session'] = df.session_id.map(df.groupby('session_id')['item_id'].size() > 2)
df = df.loc[df.valid_session].drop('valid_session',axis=1)
df.nunique()

/Users/kunzhao/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

session_id     4431931
timestamp     24590089
item_id          48255
category           331
dtype: int64

In [6]:
# #randomly sample a couple of them
sampled_session_id = np.random.choice(df.session_id.unique(), 1000000, replace=False)
df = df.loc[df.session_id.isin(sampled_session_id)]
df.nunique()

session_id    1000000
timestamp     5546275
item_id         37353
category          260
dtype: int64

In [7]:
df.isna().sum()

session_id    0
timestamp     0
item_id       0
category      0
dtype: int64

In [8]:
df['label'] = df.session_id.isin(buy_df.session_id)
df['label'] = df['label'].map(lambda x: 1 if x else 0)
# average length of session 
df.groupby('session_id')['item_id'].size().mean()

5.548274

In [9]:
df.head()

    session_id                 timestamp    item_id category  label
10           3  2014-04-02T13:17:46.940Z  214716935        0      0
11           3  2014-04-02T13:26:02.515Z  214774687        0      0
12           3  2014-04-02T13:30:12.318Z  214832672        0      0
49          19  2014-04-01T20:52:12.357Z  214561790        0      0
50          19  2014-04-01T20:52:13.758Z  214561790        0      0

In [10]:
from sklearn.preprocessing import LabelEncoder

item_encoder = LabelEncoder()
df['item_id'] = item_encoder.fit_transform(df.item_id)
df.head()

    session_id                 timestamp  item_id category  label
10           3  2014-04-02T13:17:46.940Z    21302        0      0
11           3  2014-04-02T13:26:02.515Z    25022        0      0
12           3  2014-04-02T13:30:12.318Z    29039        0      0
49          19  2014-04-01T20:52:12.357Z     5749        0      0
50          19  2014-04-01T20:52:13.758Z     5749        0      0

In [11]:
df.drop_duplicates('session_id')['label'].mean()

0.085507

In [12]:
import torch
from torch_geometric.data import InMemoryDataset
from tqdm import tqdm

class YooChooseBinaryDataset(InMemoryDataset):
    def __init__(self, root, transform=None, pre_transform=None):
        super(YooChooseBinaryDataset, self).__init__(root, transform, pre_transform)
        self.data, self.slices = torch.load(self.processed_paths[0])

    @property
    def raw_file_names(self):
        return []
    @property
    def processed_file_names(self):
        return ['../data/yoochoose_click_binary_1M_sess.dataset']

    def download(self):
        pass
    
    def process(self):
        
        data_list = []
        i=0

        # process by session_id
        grouped = df.groupby('session_id')
        for session_id, group in tqdm(grouped):
            sess_item_id = LabelEncoder().fit_transform(group.item_id)
            group = group.reset_index(drop=True)
            group['sess_item_id'] = sess_item_id
            node_features = group.loc[group.session_id==session_id,['sess_item_id','item_id']].sort_values('sess_item_id').item_id.drop_duplicates().values

            node_features = torch.LongTensor(node_features).unsqueeze(1)
            target_nodes = group.sess_item_id.values[1:]
            source_nodes = group.sess_item_id.values[:-1]

            edge_index = torch.tensor([source_nodes,
                                   target_nodes], dtype=torch.long)
            x = node_features

            y = torch.FloatTensor([group.label.values[0]])

            data = Data(x=x, edge_index=edge_index, y=y)
            data_list.append(data)
            
            i+=1
            if i>=10000:
                break
        
        data, slices = self.collate(data_list)
        torch.save((data, slices), self.processed_paths[0])

        
dataset = YooChooseBinaryDataset(root='/Users/kunzhao/DA')

Processing...
  1%|          | 9999/1000000 [00:32<53:16, 309.73it/s]
Done!

In [13]:
from tqdm import tqdm
grouped = df.groupby('session_id')
i=0
for session_id, group in tqdm(grouped):
    sess_item_id = LabelEncoder().fit_transform(group.item_id)
    group = group.reset_index(drop=True)
    group['sess_item_id'] = sess_item_id
    node_features = group.loc[group.session_id==session_id,['sess_item_id','item_id']].sort_values('sess_item_id').item_id.drop_duplicates().values
    node_features = torch.LongTensor(node_features).unsqueeze(1)
    target_nodes = group.sess_item_id.values[1:]
    source_nodes = group.sess_item_id.values[:-1]

    edge_index = torch.tensor([source_nodes,target_nodes], dtype=torch.long)
    x = node_features
    y = torch.FloatTensor([group.label.values[0]])

    i+=1
    print('sess_item_id', sess_item_id)
    print('group', group)
    print('node_features', node_features)
    print('target_nodes', target_nodes)
    print('source_nodes', source_nodes)
    print('x', x)
    print('y', y)
    if i>5:
         break

  0%|          | 5/1000000 [00:00<25:22:03, 10.95it/s]

sess_item_id [0 1 2]
group    session_id                 timestamp  item_id category  label  sess_item_id
0           3  2014-04-02T13:17:46.940Z    21302        0      0             0
1           3  2014-04-02T13:26:02.515Z    25022        0      0             1
2           3  2014-04-02T13:30:12.318Z    29039        0      0             2
node_features tensor([[21302],
        [25022],
        [29039]])
target_nodes [1 2]
source_nodes [0 1]
x tensor([[21302],
        [25022],
        [29039]])
y tensor([0.])
sess_item_id [0 0 1 1]
group    session_id                 timestamp  item_id category  label  sess_item_id
0          19  2014-04-01T20:52:12.357Z     5749        0      0             0
1          19  2014-04-01T20:52:13.758Z     5749        0      0             0
2          19  2014-04-01T20:54:53.606Z    10007        0      0             1
3          19  2014-04-01T20:54:54.651Z    10007        0      0             1
node_features tensor([[ 5749],
        [10007]])
target_nodes [0 1 1]
source_nodes [0 0 1]
x tensor([[ 5749],
        [10007]])
y tensor([0.])
sess_item_id [1 1 0 0]
group    session_id                 timestamp  item_id category  label  sess_item_id
0          24  2014-04-05T22:48:27.233Z    10105        0      0             1
1          24  2014-04-05T22:48:28.756Z    10105        0      0             1
2          24  2014-04-05T22:49:05.756Z     2126        0      0             0
3          24  2014-04-05T22:49:06.722Z     2126        0      0             0
node_features tensor([[ 2126],
        [10105]])
target_nodes [1 0 0]
source_nodes [1 1 0]
x tensor([[ 2126],
        [10105]])
y tensor([0.])
sess_item_id [7 6 2 8 5 5 3 1 0 4]
group    session_id                 timestamp  item_id category  label  sess_item_id
0          27  2014-04-07T07:40:12.650Z    27601        0      0             7
1          27  2014-04-07T07:41:13.815Z    27596        0      0             6
2          27  2014-04-07T07:46:41.444Z     1893        0      0             2
3          27  2014-04-07T07:50:03.502Z    31322        0      0             8
4          27  2014-04-07T07:53:42.034Z    19105        0      0             5
5          27  2014-04-07T07:54:58.054Z    19105        0      0             5
6          27  2014-04-07T07:56:07.512Z     7912        0      0             3
7          27  2014-04-07T07:58:27.568Z     1558        0      0             1
8          27  2014-04-07T07:59:04.113Z     1557        0      0             0
9          27  2014-04-07T08:01:51.327Z    11913        0      0             4
node_features tensor([[ 1557],
        [ 1558],
        [ 1893],
        [ 7912],
        [11913],
        [19105],
        [27596],
        [27601],
        [31322]])
target_nodes [6 2 8 5 5 3 1 0 4]
source_nodes [7 6 2 8 5 5 3 1 0]
x tensor([[ 1557],
        [ 1558],
        [ 1893],
        [ 7912],
        [11913],
        [19105],
        [27596],
        [27601],
        [31322]])
y tensor([0.])
sess_item_id [2 1 1 1 1 0]
group    session_id                 timestamp  item_id category  label  sess_item_id
0          54  2014-04-01T07:33:07.173Z    26401        0      0             2
1          54  2014-04-01T07:40:28.688Z    21322        0      0             1
2          54  2014-04-01T07:41:46.683Z    21322        0      0             1
3          54  2014-04-01T07:41:54.239Z    21322        0      0             1
4          54  2014-04-01T07:42:16.709Z    21322        0      0             1
5          54  2014-04-01T07:43:16.726Z    21304        0      0             0
node_features tensor([[21304],
        [21322],
        [26401]])
target_nodes [1 1 1 1 0]
source_nodes [2 1 1 1 1]
x tensor([[21304],
        [21322],
        [26401]])
y tensor([0.])
sess_item_id [0 0 0 0 0]
group    session_id                 timestamp  item_id category  label  sess_item_id
0          61  2014-04-02T07:00:13.748Z    19454        0      0             0
1          61  2014-04-02T07:00:17.209Z    19454        0      0             0
2          61  2014-04-02T07:01:26.344Z    19454        0      0             0
3          61  2014-04-02T07:02:02.150Z    19454        0      0             0
4          61  2014-04-02T07:02:05.171Z    19454        0      0             0
node_features tensor([[19454]])
target_nodes [0 0 0 0]
source_nodes [0 0 0 0]
x tensor([[19454]])
y tensor([0.])

In [14]:
dataset = dataset.shuffle()
train_dataset = dataset[:8000]
val_dataset = dataset[8000:9000]
test_dataset = dataset[9000:]
len(train_dataset), len(val_dataset), len(test_dataset)

(8000, 1000, 1000)

In [15]:
from torch_geometric.data import DataLoader
batch_size= 1024
train_loader = DataLoader(train_dataset, batch_size=batch_size)
val_loader = DataLoader(val_dataset, batch_size=batch_size)
test_loader = DataLoader(test_dataset, batch_size=batch_size)

/Users/kunzhao/opt/anaconda3/lib/python3.7/site-packages/torch_geometric/deprecation.py:13: UserWarning: 'data.DataLoader' is deprecated, use 'loader.DataLoader' instead
  warnings.warn(out)

In [16]:
num_items = df.item_id.max() +1 
num_items

37353

In [17]:
import torch
from torch.nn import Sequential as Seq, Linear, ReLU
from torch_geometric.nn import MessagePassing
from torch_geometric.utils import remove_self_loops, add_self_loops
class SAGEConv(MessagePassing):
    def __init__(self, in_channels, out_channels):
        super(SAGEConv, self).__init__(aggr='max') #  "Max" aggregation.
        self.lin = torch.nn.Linear(in_channels, out_channels)
        self.act = torch.nn.ReLU()
        self.update_lin = torch.nn.Linear(in_channels + out_channels, in_channels, bias=False)
        self.update_act = torch.nn.ReLU()
        
    def forward(self, x, edge_index):
        # x has shape [N, in_channels]
        # edge_index has shape [2, E]
        
        
        edge_index, _ = remove_self_loops(edge_index)
        edge_index, _ = add_self_loops(edge_index, num_nodes=x.size(0))
        
        
        return self.propagate(edge_index, size=(x.size(0), x.size(0)), x=x)

    def message(self, x_j):
        # x_j has shape [E, in_channels]

        x_j = self.lin(x_j)
        x_j = self.act(x_j)
        
        return x_j

    def update(self, aggr_out, x):
        # aggr_out has shape [N, out_channels]


        new_embedding = torch.cat([aggr_out, x], dim=1)
        
        new_embedding = self.update_lin(new_embedding)
        new_embedding = self.update_act(new_embedding)
        
        return new_embedding

In [18]:
embed_dim = 128
from torch_geometric.nn import GraphConv, TopKPooling, GatedGraphConv
from torch_geometric.nn import global_mean_pool as gap, global_max_pool as gmp
import torch.nn.functional as F
class Net(torch.nn.Module):
    def __init__(self):
        super(Net, self).__init__()

        self.conv1 = SAGEConv(embed_dim, 128)
        self.pool1 = TopKPooling(128, ratio=0.8)
        self.conv2 = SAGEConv(128, 128)
        self.pool2 = TopKPooling(128, ratio=0.8)
        self.conv3 = SAGEConv(128, 128)
        self.pool3 = TopKPooling(128, ratio=0.8)
        self.item_embedding = torch.nn.Embedding(num_embeddings=df.item_id.max() +1, embedding_dim=embed_dim)
        self.lin1 = torch.nn.Linear(256, 128)
        self.lin2 = torch.nn.Linear(128, 64)
        self.lin3 = torch.nn.Linear(64, 1)
        self.bn1 = torch.nn.BatchNorm1d(128)
        self.bn2 = torch.nn.BatchNorm1d(64)
        self.act1 = torch.nn.ReLU()
        self.act2 = torch.nn.ReLU()  
        
    def forward(self, data):
        x, edge_index, batch = data.x, data.edge_index, data.batch
        x = self.item_embedding(x)
        x = x.squeeze(1)        

        x = F.relu(self.conv1(x, edge_index))

        x, edge_index, _, batch, _, _ = self.pool1(x, edge_index, None, batch)
        x1 = torch.cat([gmp(x, batch), gap(x, batch)], dim=1)

        x = F.relu(self.conv2(x, edge_index))

        x, edge_index, _, batch, _, _ = self.pool2(x, edge_index, None, batch)
        x2 = torch.cat([gmp(x, batch), gap(x, batch)], dim=1)

        x = F.relu(self.conv3(x, edge_index))

        x, edge_index, _, batch, _, _ = self.pool3(x, edge_index, None, batch)
        x3 = torch.cat([gmp(x, batch), gap(x, batch)], dim=1)

        x = x1 + x2 + x3

        x = self.lin1(x)
        x = self.act1(x)
        x = self.lin2(x)
        x = self.act2(x)      
        x = F.dropout(x, p=0.5, training=self.training)

        x = torch.sigmoid(self.lin3(x)).squeeze(1)

        return x

In [19]:
#device = torch.device('cuda')
device = 'cpu'
model = Net().to(device)
optimizer = torch.optim.Adam(model.parameters(), lr=0.005)
crit = torch.nn.BCELoss()

In [20]:
def train():
    model.train()

    loss_all = 0
    for data in train_loader:
        data = data.to(device)
        optimizer.zero_grad()
        output = model(data)
        label = data.y.to(device)
        loss = crit(output, label)
        loss.backward()
        loss_all += data.num_graphs * loss.item()
        optimizer.step()
    return loss_all / len(train_dataset)

In [21]:
from sklearn.metrics import roc_auc_score
def evaluate(loader):
    model.eval()

    predictions = []
    labels = []

    with torch.no_grad():
        for data in loader:

            data = data.to(device)
            pred = model(data).detach().cpu().numpy()

            label = data.y.detach().cpu().numpy()
            predictions.append(pred)
            labels.append(label)

    predictions = np.hstack(predictions)
    labels = np.hstack(labels)
    
    return roc_auc_score(labels, predictions)

In [22]:
for epoch in range(1):
    loss = train()
    train_acc = evaluate(train_loader)
    val_acc = evaluate(val_loader)    
    test_acc = evaluate(test_loader)
    print('Epoch: {:03d}, Loss: {:.5f}, Train Auc: {:.5f}, Val Auc: {:.5f}, Test Auc: {:.5f}'.
          format(epoch, loss, train_acc, val_acc, test_acc))

Epoch: 000, Loss: 0.49256, Train Auc: 0.63880, Val Auc: 0.58342, Test Auc: 0.58383